.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  opacity: 0.9;
  background-color: white !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black !important;
  font-weight: bolder;
  padding: 0  !important;

}

a {
  color: black !important;
  font-size: 15px !important;
}
 
.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.avatarImg {
  height: 13em;
  position: relative;
  float: left;
  padding-left: 100px;
 
}

.banner-text {
  background-color: white;
  opacity: .8;
  width:65%;
  margin: auto;
  border-radius:10px;


}

.banner-text h1 {
  font-size: 30px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;

}

/* .banner-text hr {
  border-top: 2px dotted black;
  width: 50%;
  margin: auto;
} */

.banner-text p {
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.fa {
  font-size: 40px;
  padding: 15px;
  margin-top: -15px;
}

.landing-grid {
  text-align: center;
}

.projects-grid {
  display: flex;
}